In [61]:
import pandas as pd
import os
import glob
from IPython.display import HTML,display
from openpyxl import load_workbook

In [62]:
path = 'C:/work/Documents/GitHub/-outline-/tenure-population-borough.xlsx'
cols = ['Code', 'Area', 'Own Outright', 'Buying with mortgage', 'Rented from Local Authority or Housing Association', 'Rented from Private landlord', 'Total']

In [66]:
df = pd.read_excel('tenure-population-borough.xlsx')
df2 = df.loc[:,~df.T.duplicated(keep='first')]
sheet_to_df_map = pd.read_excel('tenure-population-borough.xlsx', sheet_name=None)

In [67]:
print(sheet_to_df_map)

{'Metadata':                  Name                       Housing tenure of population
0           ShortName                                                APS
1                 NaN                                                NaN
2                 NaN                                                NaN
3                 NaN                                                NaN
4               Theme                               Planning and Housing
5           Sub-theme                                 Stock - Households
6                 NaN                                                NaN
7               Title                   Housing tenure of the population
8         Description  This table shows the numbers and percentages o...
9             Subject                                            Housing
10    Subject.keyword                        housing, tenure, population
11          Publisher                                                ONS
12     Date.available                                        2006 - 2020
13            Creator                                                ONS
14       Date.created                                             Dec 21
15   Coverage.spatial                                    London Boroughs
16  Coverage.temporal                                             Annual
17               Type                                             Survey
18           Language                                            English
19             Rights                                    Crown Copyright
20          More info                                                NaN
21      Download from                                                NaN
22     Warnings/Notes  This work contains statistical data from ONS w...
23                NaN  Private rented includes renting from employing...
24                NaN  Numbers are rounded to the nearest hundred. Pe...
25                NaN  Sample for the City of London is too low to pr...
26                NaN  The Annual Population Survey is a sample surve...
27       Next release                                             May 22, '2020':                              Unnamed: 1       Numbers            Unnamed: 3  \
0        Code                      Area  Own Outright  Buying with mortgage
1         NaN                       NaN           NaN                   NaN
2   E09000001            City of London             -                     -
3   E09000002      Barking and Dagenham         28000                 60200
4   E09000003                    Barnet        100400                136900
5   E09000004                    Bexley         63800                104700
6   E09000005                     Brent         77000                 76600
7   E09000006                   Bromley         92600                156100
8   E09000007                    Camden         43400                 58900
9   E09000008                   Croydon         87400                153700
10  E09000009                    Ealing         82800                 98800
11  E09000010                   Enfield         83000                134300
12  E09000011                 Greenwich         47800                 81000
13  E09000012                   Hackney         22800                 67800
14  E09000013    Hammersmith and Fulham         31700                 38200
15  E09000014                  Haringey         53600                 77700
16  E09000015                    Harrow         80800                 98400
17  E09000016                  Havering         68700                110100
18  E09000017                Hillingdon         80300                117900
19  E09000018                  Hounslow         44200                 84800
20  E09000019                 Islington         53200                 50800
21  E09000020    Kensington and Chelsea         43500                 22400
22  E09000021      Kingston upon Thames         39400                 87000
23  E09000022                   Lambeth         41800                 90500
24  E09000023                  Lewisham         48700                124300
25  E09000024                    Merton         51700                 68200
26  E09000025                    Newham         39000                101300
27  E09000026                 Redbridge         86500                106500
28  E09000027      Richmond upon Thames         60200                 90200
29  E09000028                 Southwark         29900                 89900
30  E09000029                    Sutton         49900                 88600
31  E09000030             Tower Hamlets         21100                 63100
32  E09000031            Waltham Forest         54900                125400
33  E09000032                Wandsworth         56900                126300
34  E09000033               Westminster         58400                 45800
35        NaN                       NaN           NaN                   NaN
36  E13000001              Inner London        544000                957100
37  E13000002              Outer London       1279500               1979400
38        NaN                       NaN           NaN                   NaN
39  E12000001                North East        730400                915600
40  E12000002                North West       1706400               2250700
41  E12000003  Yorkshire and The Humber       1610600               2046300
42  E12000004             East Midlands       1419000               1847400
43  E12000005             West Midlands       1768200               2123400
44  E12000006           East of England       1843400               2491800
45  E12000007                    London       1828100               2938300
46  E12000008                South East       2697500               3790300
47  E12000009                South West       1769500               2067300
48  W92000004                     Wales       1042000               1154400
49  S92000003                  Scotland       1651600               1899300
50  N92000002          Northern Ireland        571300                730800
51  K02000001                        UK      18638200              24255500

                                           Unnamed: 4  \
0   Rented from Local Authority or Housing Associa...
1                                                 NaN
2                                                   -
3                                               83500
4                                               54200
5                                               42900
6                                               58200
7                                               44500
8                                               92800
9                                               53600
10                                              45400
11                                              54500
12                                              83900
13                                             104100
14                                              47700
15                                              62900
16                                              18400
17                                              32200
18                                              44800
19                                              60700
20                                              85800
21                                              37200
22                                              17400
23                                              96300
24                                              73400
25                                              20700
26                                              93400
27                                              19600
28                                              19900
29                                             115600
30                                              19600
31                                             131400
32                                              44600
33                                              34900
34                                              71000
35                                                NaN
36                                            1046600
37                                             818800
38                                                NaN
39                                             566400
40                                             909700
41                                             812200
42                                             641400
43                                            1023800
44                                             892400
45                                            1865400
46                                            1060000
47                                             672100
48                                             445500
49                                            1103000
50                                             268000
51                                           10259900

                      Unnamed: 5     Total  Unnamed: 7  \
0   Rented from Private landlord     Total         NaN
1                            NaN       NaN         NaN
2                              -         -         NaN
3                          50000    221700         NaN
4                         107000    398600         NaN
5                          42100    253600         NaN
6                         107300    319100         NaN
7                          45300    338500         NaN
8                          67400    262500         NaN
9                          98000    392700         NaN
10                        116700    343800         NaN
11                         70200    341900         NaN
12                         78600    291300         NaN
13                         94100    288800         NaN
14                         62700    180200         NaN
15                         86900    281100         NaN
16                         53200    250900         NaN
17                         52800    263900         NaN
18                         59900    302900         NaN
19                         84200    273900         NaN
20                         51800    241600         NaN
21                         50800    153900         NaN
22                         37300    181100         NaN
23                        100600    329200         NaN
24                         66000    312300         NaN
25                         69400    209900         NaN
26                        128100    361800         NaN
27                        100900    313500         NaN
28                         29400    199700         NaN
29                         87900    323300         NaN
30                         49600    207700         NaN
31                        110100    325800         NaN
32                         56500    281400         NaN
33                        107900    326100         NaN
34                         65700    241000         NaN
35                           NaN       NaN         NaN
36                       1080000   3627600         NaN
37                       1308400   5386000         NaN
38                           NaN       NaN         NaN
39                        408400   2620800         NaN
40                        948600   5815500         NaN
41                        965700   5434900         NaN
42                        861100   4768900         NaN
43                        945200   5860600         NaN
44                        999100   6226700         NaN
45                       2398500   9030300         NaN
46                       1553400   9101200         NaN
47                       1054300   5563200         NaN
48                        479700   3121600         NaN
49                        740100   5394000         NaN
50                        299000   1869100         NaN
51                      11653200  64806700         NaN

   Confidence Interval (95%) +/-            Unnamed: 9  ...  \
0                   Own Outright  Buying with mortgage  ...
1                            NaN                   NaN  ...
2                              -                     -  ...
3                           7300                  9800  ...
4                          14100                 15400  ...
5                           8400                  9500  ...
6                          14500                 14500  ...
7                          11400                 12800  ...
8                           9300                 10400  ...
9                          13100                 15400  ...
10                         13900                 14700  ...
11                         13400                 15200  ...
12                          9500                 11500  ...
13                          7300                 11500  ...
14                          6500                  7000  ...
15                         10200                 11700  ...
16                         11300                 11900  ...
17                          8600                  9700  ...
18                         13000                 14300  ...
19                         10300                 13000  ...
20                          9800                  9700  ...
21                          6300                  4900  ...
22                          5800                  7000  ...
23                         10100                 13500  ...
24                          9400                 12700  ...
25                          7700                  8400  ...
26                         12000                 17300  ...
27                         11300                 12000  ...
28                          7200                  7800  ...
29                          8300                 12900  ...
30                          7400                  8500  ...
31                          8400                 13500  ...
32                         10100                 12700  ...
33                         11100                 14300  ...
34                         11100                 10100  ...
35                           NaN                   NaN  ...
36                         34000                 41900  ...
37                         45100                 51100  ...
38                           NaN                   NaN  ...
39                         19400                 20600  ...
40                         37200                 39800  ...
41                         37400                 39600  ...
42                         41200                 43900  ...
43                         40300                 42200  ...
44                         45500                 48800  ...
45                         57100                 66600  ...
46                         51300                 55300  ...
47                         37400                 38800  ...
48                         18800                 19200  ...
49                         30100                 31200  ...
50                         19000                 20100  ...
51                        125400                134100  ...

             Unnamed: 15                                        Unnamed: 16  \
0   Buying with mortgage  Rented from Local Authority or Housing Associa...
1                    NaN                                                NaN
2                      -                                                  -
3                   27.1                                               37.7
4                   34.4                                               13.6
5                   41.3                                               16.9
6                     24                                               18.2
7                   46.1                                               13.2
8                   22.4                                               35.3
9                   39.1                                               13.6
10                  28.7                                               13.2
11                  39.3                                               15.9
12                  27.8                                               28.8
13                  23.5                                               36.1
14                  21.2                                               26.4
15                  27.7                                               22.4
16                  39.2                                                7.3
17                  41.7                                               12.2
18                  38.9                                               14.8
19                    31                                               22.2
20                    21                                               35.5
21                  14.6                                               24.2
22                  48.1                                                9.6
23                  27.5                                               29.3
24                  39.8                                               23.5
25                  32.5                                                9.8
26                    28                                               25.8
27                    34                                                6.2
28                  45.2                                                 10
29                  27.8                                               35.7
30                  42.7                                                9.5
31                  19.4                                               40.4
32                  44.6                                               15.8
33                  38.7                                               10.7
34                    19                                               29.5
35                   NaN                                                NaN
36                  26.4                                               28.9
37                  36.8                                               15.2
38                   NaN                                                NaN
39                  34.9                                               21.6
40                  38.7                                               15.6
41                  37.7                                               14.9
42                  38.7                                               13.4
43                  36.2                                               17.5
44                    40                                               14.3
45                  32.5                                               20.7
46                  41.6                                               11.6
47                  37.2                                               12.1
48                    37                                               14.3
49                  35.2                                               20.4
50                  39.1                                               14.3
51                  37.4                                               15.8

                     Unnamed: 17  Unnamed: 18 Unnamed: 19  \
0   Rented from Private landlord        Total         NaN
1                            NaN          NaN         NaN
2                              -            -         NaN
3                           22.6          100         NaN
4                           26.9          100         NaN
5                           16.6          100         NaN
6                           33.6          100         NaN
7                           13.4          100         NaN
8                           25.7          100         NaN
9                           24.9          100         NaN
10                          33.9          100         NaN
11                          20.5          100         NaN
12                            27          100         NaN